@import (reference) 'grid/grid.less';

// BASE
html {
  height: 100%;
}

// COMPONENT
.hxApp {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;

  &__header {
    background-color: @gray-1000;
    flex-shrink: 0;
    height: 3.5rem;
  }

  &__footer {
    align-items: center;
    background-color: @gray-950;
    color: @gray-300;
    display: flex;
    flex-shrink: 0;
    height: 2.5rem;
    padding: 0 20px;

    nav {
      display: inline-block;
    }

    a {
      color: @cyan-500;
      margin-left: 32px;
    }
  }

  &__container, // TODO: remove (deprecated)
  &__stage {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__nav {
    flex-shrink: 0;
    order: -1;
    width: @app-nav-width;

    &--top {
      background-color: red;
    }
  }

  &__content {
    flex-grow: 1;
    padding: 1em;
  }
}

// COMPONENT
.hxApp--horizontal {
  &:extend(.hxApp);
  height: 100vh;
  width: 100vw;

  .hxApp__content {
    //&:extend(.hxRow); // TODO: tweak grid for this to work
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
  }
}
