<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vertical - App Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="{{site.baseHref}}"><!-- CHANGE ME -->

  <link rel="shortcut icon" href="images/favicon.png">

  <!-- Helix Styles -->
  <link rel="stylesheet" href="helix-ui.css"><!-- CHANGE ME to production CDN url -->
  <!-- Applicaton Styles -->
  <link rel="stylesheet" href="path/to/your/app.css">

  <!-- ES5 Adapter -->
  <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.es5adapter}}"></script>
  <!-- Polyfill Loader -->
  <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.polyfillLoader}}"></script>
</head>
<body class="hxApp" id="top">
  <header class="hxApp__header">
    <!-- Eyebrow Goes Here -->
  </header>

  <div class="hxApp__stage">
    <main class="hxApp__content">
      <!-- Content with sidebar example -->
      <div class="hxCol-9">
        <div class="hxContainer">
          <nav class="hxBreadcrumb">
            <a href="#">Home</a>
            <hx-icon class="delimiter" type="angle-right"></hx-icon>
            <a href="#">Parent</a>
            <hx-icon class="delimiter" type="angle-right"></hx-icon>
            <a href="#">Current</a>
          </nav>

          <h1 class="hxPageTitle">Page Title</h1>

          <p>Page Content</p>
          <ul>
            <li>Lengthy content will push the application footer off screen.</li>
            <li>All content scrolls vertically as a single document.</li>
          </ul>
        </div>
      </div>
      <div class="hxCol-3 hxSidebar">
        <section class="hxContainer">
          <p>Sidebar</p>
        </section>
      </div>
    </main>
    <nav class="hxApp__nav">
      <!-- Left Navigation -->
      {% include 'partials/app_nav.njk' %}
      <!-- end:Left Navigation -->
    </nav>
  </div>

  <footer class="hxApp__footer">
    &copy; 2017 Rackspace US, Inc.
    <nav>
      <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
      <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
    </nav>
  </footer>

  <!-- Helix Behavior -->
  <script src="https://2d2bf231b82dfe76fe36-fa12562cfe810d69bedcc36a0ac289ef.ssl.cf1.rackcdn.com/javascript/helix-ui.js"></script>
  <a id="bottom"></a>
  <!-- Application Behavior -->
  <script src="path/to/your/app.js"></script>
</body>
</html>

