---
title: Global Layout
assets:
  - helix-ui.css
---
{% macro footer() %}
{% endmacro %}

{% extends 'component-page.njk' %}
{% block content %}
  <section>
    <h2 class="hxSectionTitle">Summary</h2>
    <p>
      The global layout provides vertical arrangement of page content
      to provide support for three navigation location options.
    </p>
    <ol>
      <li>Left Navigation (recommended)</li>
      <li>Content Only (no navigation)</li>
      <li>Top Navigation (discouraged)</li>
    </ol>
  </section>

  <section><!-- Left Navigation -->
    <h2 id="left-nav" class="hxSectionTitle">Left Navigation</h2>
    <figure>
      <figcaption>Recommended HTML markup for a layout with left-hand navigation</figcaption>
      {% code 'html' %}
        <!DOCTYPE html>
        <html lang="en">
          <head>
            <title>...</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Helix Styles -->
            <link rel="stylesheet" href="{{data.url.cdn.stable}}/{{data.cdn.stable.css.helixUi}}">
            <!-- ES5 Adapter -->
            <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.es5adapter}}"></script>
            <!-- Polyfill Loader -->
            <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.polyfillLoader}}"></script>
          </head>
          <body class="hxApp" id="top">
            <!-- EYEBROW Goes Here -->
            <div class="hxApp__container">
              <main class="hxApp__content">
                <!-- Page Content Goes Here -->
              </main>
              <nav class="hxApp__nav">
                <!-- Left-hand Nav Goes Here -->
              </nav>
            </div>
            <!-- FOOTER Goes Here -->
            <!-- Helix Behavior -->
            <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.helixUi}}"></script>
            <!-- Application Behavior -->
            <script src="path/to/your/app.js"></script>
          </body>
        </html>
      {% endcode %}
    </figure>
  </section>

  <section><!-- Content-Only -->
    <h2 id="content-only" class="hxSectionTitle">Content-Only</h2>
    <p>
      For cases where your application may be embedded without
      the need for a navigation, use the "Content-Only" layout.
    </p>
    <figure>
      <figcaption>Recommended HTML markup for a content-only layout</figcaption>
      {% code 'html' %}
        <!DOCTYPE html>
        <html lang="en">
          <head>
            <title></title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Helix Styles -->
            <link rel="stylesheet" href="{{data.url.cdn.stable}}/{{data.cdn.stable.css.helixUi}}">
            <!-- ES5 Adapter -->
            <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.es5adapter}}"></script>
            <!-- Polyfill Loader -->
            <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.polyfillLoader}}"></script>
          </head>
          <body class="hxApp" id="top">
            <!-- EYEBROW Goes Here -->
            <div class="hxApp__container">
              <main class="hxApp__content">
                <!-- Page Content Goes Here -->
              </main>
            </div>
            <!-- FOOTER Goes Here -->
            <!-- Helix Behavior -->
            <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.helixUi}}"></script>
            <!-- Application Behavior -->
            <script src="path/to/your/app.js"></script>
          </body>
        </html>
      {% endcode %}
    </figure>
  </section>

  <section><!-- Top Nav -->
    <h2 id="top-nav" class="hxSectionTitle">Top Navigation</h2>
    <div class="hxAlerts">
      <div class="hxAlert hxAlert--warning">
        <div class="hxAlert__icon">
          <hx-icon type="exclamation-triangle"></hx-icon>
        </div>
        <div class="hxAlert__text">
          <span class="hxAlert__status">Warning</span>
          HelixUI does not provide styling for Top Navigation layouts.
        </div>
      </div>
    </div>

    <br />

    <p>
      You will be responsible for maintaining the appearance of a Top Navigation bar.
    </p>
    <p>
      Please review the <a href="http://helix.rax.io/layout/navigation.html">design specifications</a>
      for more information.
    </p>

    <figure>
      <figcaption>Suggested HTML markup for a layout with navigation across the top, below the eyebrow</figcaption>
      {% code 'html' %}
        <!DOCTYPE html>
        <html lang="en">
          <head>
            <title></title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Helix Styles -->
            <link rel="stylesheet" href="{{data.url.cdn.stable}}/{{data.cdn.stable.css.helixUi}}">
            <!-- ES5 Adapter -->
            <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.es5adapter}}"></script>
            <!-- Polyfill Loader -->
            <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.polyfillLoader}}"></script>
          </head>
          <body class="hxApp" id="top">
            <!-- EYEBROW Goes Here -->
            <nav class="hxApp__nav"><!-- Top Nav Goes Here --></nav>
            <div class="hxApp__container">
              <main class="hxApp__content">
                <!-- Page Content Goes Here -->
              </main>
            </div>
            <!-- FOOTER Goes Here -->
            <!-- Helix Behavior -->
            <script src="{{data.url.cdn.stable}}/{{data.cdn.stable.js.helixUi}}"></script>
            <!-- Application Behavior -->
            <script src="path/to/your/app.js"></script>
          </body>
        </html>
      {% endcode %}
    </figure>
  </section>

  <section><!-- Eyebrow -->
    <h2 id="eyebrow" class="hxSectionTitle">Eyebrow</h2>
    <p>
      The eyebrow will be where the Pilot application lives for navigation
      between Helix applications.
    </p>
    <figure>
      <figcaption>Skeleton HTML markup for the eyebrow navigation</figcaption>
      {% code 'html' %}
        <header class="hxApp__header">
          <!-- Pilot Lives Here -->
        </header>
      {% endcode %}
    </figure>
  </section>

  <section><!-- Footer -->
    <h2 id="footer" class="hxSectionTitle">Footer</h2>
    <p>The footer should be implemented as follows.</p>
    <figure>
      <figcaption>HTML markup for the global footer</figcaption>
      {% code 'html' %}
        <footer class="hxApp__footer">
          &copy; 2017 Rackspace US, Inc.
          <nav>
            <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
            <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
          </nav>
        </footer>
      {% endcode %}
    </figure>
  </section>
{% endblock %}
