{% extends 'vertical-app.njk' %}
{% block pageLayout %}
  <div class="hxCol hxCol-12 hxCol-3-md hxOrder-2 hxSidebar">
    <div class="hxContainer">
      {% include 'partials/sidebar.njk' %}
    </div>
  </div>
  <div class="hxCol hxCol-12 hxCol-9-md hxOrder-1">
    <div class="hxContainer">
      <h1 class="hxPageTitle">{{ page.title }}</h1>
      {% block content %}
        {# page content goes here #}
      {% endblock %}
    </div>
  </div>
{% endblock %}
