---
title: Tabset
assets:
  - helix-ui.css
  - helix-ui.js
---
{% extends 'component.njk' %}
{% block content %}
<!-- explanation goes here -->

<!--
<div class="demo">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
    <li role="presentation" class="disabled"><a href="#">Not Available</a></li>
  </ul>
</div>
-->

<div class="demo">
  <hx-tabset>
    <div id="tabbar">
      <span class="active">Tab 1</span>
      <span>Tab 2</span>
      <span>Tab 3</span>
    </div>
    <hx-tab open>Content 1</hx-tab>
    <hx-tab>Content 2</hx-tab> 
    <hx-tab>Content 3</hx-tab> 
  </hx-tabset>
</div>
{% endblock %}
